body
{
    background-color: #e9e8e1;

}
.navig
{ 
    text-decoration:none;
    animation-name: example1;
    animation-duration: 10s;
    animation-iteration-count : infinite; 
    
}
@keyframes example1 {
    from {color : rgb(74, 80, 97);}
    to {color: rgb(247, 247, 248);}
    
  }
  
nav 
{
        width: 900px;
        background-color: rgb(247, 247, 248);
        border: 2px;
        border-style: solid;
        border-color: rgb(74, 80, 97);
        color : rgb(74, 80, 97);
        height: 20px; 
        animation-name: example2;
        animation-duration: 10s;
        animation-iteration-count : infinite;
        
      }
      @keyframes example2 {
        from {background-color : rgb(247, 247, 248);border-color: rgb(74, 80, 97);}
        to {background-color: rgb(74, 80, 97);border-color: rgb(247, 247, 248);}
        
      }
      

.Presentation
{
    width: 900px;
    background-color: rgb(247, 247, 248);
    border: 2px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    color : rgb(74, 80, 97);
    height: 250px; 
}


.prez
{
    width: 360PX;
    height: 215px;
    background-color: rgb(74, 80, 97);
    color: white;
    float: left;
    margin-top: 15px;
    margin-left: 150px;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    box-shadow: 7px 3px 7px black;
}
.MoiPhoto
{
    width: 150PX;
    background-color: rgb(247, 247, 248);
    float: left;
    margin-top: 25px;
    margin-left: 150px;
    

}
.picture
{
    height: 198px;
    float: left;
    width: 150px;
    border: 1px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    box-shadow: 7px 3px 7px black;
}



.Expériences
{
    width: 900px;
    background-color: rgb(247, 247, 248);
    border: 2px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    color : rgb(74, 80, 97);
    height: 430px;
    line-height: 8px;
}
.Détail
{
    background-color: rgb(74, 80, 97);
    width: 360px;
    height: 150px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    float: left;
    color: white;
    box-shadow: 7px 7px 7px black;
    line-height: 18px;
}
.nomExp
{
width: 244px;
float: left;
height: 64px;
}
.logo
{

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 58px;
    margin-top: 4px;
    margin-right: 2px;
    width: 108px;
    float: left;
}
.logo:hover{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

ul{
    text-align: left;
    
}


.Etudes
{
    width: 900px;
    background-color: rgb(247, 247, 248);
    border: 2px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    color : rgb(74, 80, 97);
    height: 325px;
    
}
.Etude
{
   color: white;
   Width:700px;
   background-color: rgb(74, 80, 97);
   height: 45px; 
   vertical-align:middle;
    display: table-cell;
    
}

.centreI
{
    width: 900px;
    background-color: rgb(247, 247, 248);
    border: 2px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    color : rgb(74, 80, 97);
    height: 475px;
    
    
}

.contact
{
    width: 900px;
    background-color: rgb(247, 247, 248);
    border: 2px;
    border-style: solid;
    border-color: rgb(74, 80, 97);
    color : rgb(74, 80, 97);
    height: 350px;    
}